<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.home.dao.ItemMapper">
  <resultMap id="BaseResultMap" type="com.home.domain.Item">
    <id column="itemid" jdbcType="BIGINT" property="itemid" />
    <result column="itemname" jdbcType="VARCHAR" property="itemname" />
    <result column="itemprice" jdbcType="DECIMAL" property="itemprice" />
    <result column="itemdesc" jdbcType="VARCHAR" property="itemdesc" />
    <result column="itemimageaddr" jdbcType="VARCHAR" property="itemimageaddr" />
  </resultMap>
  <sql id="Base_Column_List">
    itemid, itemname, itemprice, itemdesc, itemimageaddr
  </sql>
  <select id="findAll" resultMap="BaseResultMap">
  select 
  <include refid="Base_Column_List" />
  from iteminfo
  </select>
  <select id="selectItemById" parameterType="java.lang.Long" resultMap="BaseResultMap">
  select 
  <include refid="Base_Column_List" />
    from iteminfo
    where itemid = #{itemid,jdbcType=BIGINT}
  </select>
  <select id="selectItemByName" parameterType="java.lang.String" resultMap="BaseResultMap">
  select
  <include refid="Base_Column_List" />
    from iteminfo
    where itemname = #{itemname,jdbcType=BIGINT}
  </select>
  <update id="updateById" parameterType="com.home.domain.Item">
  update iteminfo
    set itemname = #{itemname,jdbcType=VARCHAR},
        itemprice = #{itemprice,jdbcType=DECIMAL},
        itemdesc = #{itemdesc,jdbcType=VARCHAR},
        itemimageaddr = #{itemimageaddr,jdbcType=VARCHAR}
        where itemid = #{itemid,jdbcType=BIGINT}
  </update>
  <delete id="deleteItemById" parameterType="java.lang.Long">
  DELETE 
  FROM iteminfo
  where itemid = #{itemid,jdbcType=BIGINT}
  </delete>
  
 <insert id="insert" parameterType="com.home.domain.Item">
    insert into iteminfo (itemid, itemname, itemprice, 
      itemdesc, itemimageaddr)
    values (#{itemid,jdbcType=BIGINT}, #{itemname,jdbcType=VARCHAR}, #{itemprice,jdbcType=DECIMAL}, 
      #{itemdesc,jdbcType=VARCHAR}, #{itemimageaddr,jdbcType=VARCHAR})
  </insert>
</mapper>