<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!-- 启动自动扫描 -->
    <context:component-scan base-package="com.home.*" />

    <!-- 注册MVC注解驱动 
    默认加载注解处理器映射器
    加载处理器适配器
    支持json格式
 	 
   -->
   <mvc:annotation-driven />
	
    <!-- 静态资源可访问的设置方式 -->
    <mvc:default-servlet-handler />
	
	<!-- 配置自定义bean:Controller -->
	<bean 
		id = "AllController" name="AllController" class = "com.home.web.AllController">
	</bean>
	<bean 
		id = "UploadController" name="UploadController" class = "com.home.web.UploadController">
	</bean>
	<bean 
		id = "ItemController" name="ItemController" class = "com.home.web.ItemController">
	</bean>
	<!--可以配置多个处理器映射器 -->
	<!-- 简单处理器映射器：把Url进行集中配置-->
		 <bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
		 <property name="mappings">
		 <props>
		 <prop key="/controller.do">AllController</prop>
		 <prop key="/upload.do">UploadController</prop>
		 <prop key="/item.do">UploadController</prop>
		 </props>
		 </property>
		 </bean>
		
    <!-- 配置视图解析器，可以显式设置，也可以不设置，不设置会依据SpringMVC的默认设置 -->
    <bean id="viewResolver"
        class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsps/" />
        <property name="suffix" value=".jsp" />
    </bean>

	<!-- 对文件上传的处理，这里声明的id必须为multipartResolver -->
	<bean id="multipartResolver"
        class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
    	<property name="defaultEncoding">
        	<value>UTF-8</value>
    	</property>
    	<property name="maxUploadSize">
        	<value>10485760</value><!-- 上传文件大小限制为10M，10*1024*1024 -->
    	</property>
    	<property name="maxInMemorySize">	
     	   <value>4096</value>
   		 </property>
    </bean>
</beans>